name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact: matrix-bun-linux-x64
          - os: macos-latest
            artifact: matrix-bun-darwin-x64
          - os: macos-14
            artifact: matrix-bun-darwin-arm64

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Build executable
        run: bun build --compile --outfile ${{ matrix.artifact }} ./index.ts

      - name: Upload artifacts
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.artifact }}
